GraduateExpermentalPrograms/AirBaggageBillingSystem/AirBaggageBillingSystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://abbs.simple.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://abbs.simple.ws" xmlns:intf="http://abbs.simple.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://abbs.simple.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loginin">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logininResponse">
    <complexType>
     <sequence>
      <element name="logininReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="feeCalculation">
    <complexType>
     <sequence>
      <element name="chooseAirClass">
      	<simpleType>
      		<restriction base="int">

      			<minInclusive value="0"></minInclusive>
      			<maxInclusive value="3"></maxInclusive>
      		</restriction>
      	</simpleType>
      </element>
      <element name="chooseArea">
      	<simpleType>
      		<restriction base="int">

      			<minInclusive value="0"></minInclusive>
      			<maxInclusive value="1"></maxInclusive>
      		</restriction>
      	</simpleType>
      </element>
      <element name="isStudent" type="xsd:boolean"/>
      <element name="luggage">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
      <element name="economicfee">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element name="feeCalculationResponse">
    <complexType>
     <sequence>
      <element name="feeCalculationReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="logininRequest">

      <wsdl:part element="impl:loginin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logininResponse">

      <wsdl:part element="impl:logininResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="feeCalculationResponse">

      <wsdl:part element="impl:feeCalculationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="feeCalculationRequest">

      <wsdl:part element="impl:feeCalculation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AirBaggageBillingSystem">

      <wsdl:operation name="loginin">
		<wsdl:documentation>
			{"userAttribute":"", "ipRegion":"","invokeOp":"","preOp":"","preCT":""}
		</wsdl:documentation>

         <wsdl:input message="impl:logininRequest" name="logininRequest">

       </wsdl:input>

         <wsdl:output message="impl:logininResponse" name="logininResponse">

       </wsdl:output>

      </wsdl:operation>
		<wsdl:documentation>
			{"userAttribute":"", "ipRegion":"","invokeOp":"","preOp":"loginin","preCT":"loginin.logininResponse/logininReturn == true"}
		</wsdl:documentation>
      <wsdl:operation name="feeCalculation">

         <wsdl:input message="impl:feeCalculationRequest" name="feeCalculationRequest">

       </wsdl:input>

         <wsdl:output message="impl:feeCalculationResponse" name="feeCalculationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AirBaggageBillingSystemSoapBinding" type="impl:AirBaggageBillingSystem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logininRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logininResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="feeCalculation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="feeCalculationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="feeCalculationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AirBaggageBillingSystem">
	  <wsdl:documentation>{"sTime":"2017-03-01", "eTime":"2017-06-01"}</wsdl:documentation>
      <wsdl:port binding="impl:AirBaggageBillingSystemSoapBinding" name="AirBaggageBillingSystem">

         <wsdlsoap:address location="http://localhost:8080/ABBS_WSDL/services/AirBaggageBillingSystem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
