GraduateExpermentalPrograms/ExpenseReimbursementSystem/EXPService/META-INF/ExpenseReimbursementSystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exp.simple.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://exp.simple.ws" xmlns:intf="http://exp.simple.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://exp.simple.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="totalAmount">
    <complexType>
     <sequence>
      <element name="tstafflevel" type="xsd:string"/>
      <element name="tactualmonthlymileage" type="xsd:double"/>
      <element name="tmonthlysalesamount" type="xsd:double"/>
      <element name="tairfareamount" type="xsd:double"/>
      <element name="totherexpensesamount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="totalAmountResponse">
    <complexType>
     <sequence>
      <element name="totalAmountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateReimbursementAmount">
    <complexType>
     <sequence>
      <element name="stafflevel">
      	<simpleType>
      		<restriction base="string">
      			<enumeration value="seniormanager"></enumeration>
      			<enumeration value="manager"></enumeration>
      			<enumeration value="supervisor"></enumeration>
      		</restriction>
      	</simpleType>
      </element>
      <element name="actualmonthlymileage">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element name="calculateReimbursementAmountResponse">
    <complexType>
     <sequence>
      <element name="calculateReimbursementAmountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="airfareReimbursement">
    <complexType>
     <sequence>
      <element name="stafflevel">
      	<simpleType>
      		<restriction base="string">
      			<enumeration value="seniormanager"></enumeration>
      			<enumeration value="manager"></enumeration>
      			<enumeration value="supervisor"></enumeration>
      		</restriction>
      	</simpleType>
      </element>
      <element name="monthlysalesamount">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
      <element name="airfareamount">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
      <element name="otherexpensesamount">
      	<simpleType>
      		<restriction base="double">

      			<minInclusive value="0"></minInclusive>
      		</restriction>
      	</simpleType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element name="airfareReimbursementResponse">
    <complexType>
     <sequence>
      <element name="airfareReimbursementReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="airfareReimbursementRequest">

      <wsdl:part element="impl:airfareReimbursement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateReimbursementAmountResponse">

      <wsdl:part element="impl:calculateReimbursementAmountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="totalAmountResponse">

      <wsdl:part element="impl:totalAmountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="airfareReimbursementResponse">

      <wsdl:part element="impl:airfareReimbursementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="totalAmountRequest">

      <wsdl:part element="impl:totalAmount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateReimbursementAmountRequest">

      <wsdl:part element="impl:calculateReimbursementAmount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ExpenseReimbursementSystem">

      <wsdl:operation name="totalAmount">
      <wsdl:documentation>{"userAttribute":"", "ipRegion":"202\\.204\\.62\\.(25[0-5]|2[0-4][0-9]|[0-9]|[1-9]{2}|1[0-9][0-9])","invokeOp":"calculateReimbursementAmount/airfareReimbursement","preOp":"","preCT":""}</wsdl:documentation>

         <wsdl:input message="impl:totalAmountRequest" name="totalAmountRequest">

       </wsdl:input>

         <wsdl:output message="impl:totalAmountResponse" name="totalAmountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculateReimbursementAmount">
      <wsdl:documentation>{"userAttribute":"stafflevel=seniormanager|manager", "ipRegion":"202\\.204\\.62\\.(25[0-5]|2[0-4][0-9]|[0-9]|[1-9]{2}|1[0-9][0-9])","invokeOp":"","preOp":"","preCT":""}</wsdl:documentation>

         <wsdl:input message="impl:calculateReimbursementAmountRequest" name="calculateReimbursementAmountRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateReimbursementAmountResponse" name="calculateReimbursementAmountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="airfareReimbursement">
      <wsdl:documentation>{"userAttribute":"", "ipRegion":"202\\.204\\.62\\.(25[0-5]|2[0-4][0-9]|[0-9]|[1-9]{2}|1[0-9][0-9])","invokeOp":"","preOp":"","preCT":""}</wsdl:documentation>

         <wsdl:input message="impl:airfareReimbursementRequest" name="airfareReimbursementRequest">

       </wsdl:input>

         <wsdl:output message="impl:airfareReimbursementResponse" name="airfareReimbursementResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ExpenseReimbursementSystemSoapBinding" type="impl:ExpenseReimbursementSystem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="totalAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="totalAmountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="totalAmountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculateReimbursementAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateReimbursementAmountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateReimbursementAmountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="airfareReimbursement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="airfareReimbursementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="airfareReimbursementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExpenseReimbursementSystem">
   	  <wsdl:documentation>{"sTime":"2017-03-01", "eTime":"2017-06-01"}</wsdl:documentation>

      <wsdl:port binding="impl:ExpenseReimbursementSystemSoapBinding" name="ExpenseReimbursementSystem">

         <wsdlsoap:address location="http://localhost:8080/axis2/services/ExpenseReimbursementSystem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
